* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: auto;
  max-width: 1980px;
}

html {
  font-size: 62.5%;
}
html body {
  background-image: url(https://c.wallhere.com/photos/e8/eb/pattern_wood-156690.jpg!d);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
html body header {
  padding-bottom: 0.2rem;
  background-color: #F2BB16;
}
html body header nav .contenedor {
  display: flex;
  align-items: center;
}
html body header nav .contenedor .logo {
  height: 70px;
  width: 70px;
  padding: 0.5rem;
  box-sizing: border-box;
  margin-left: 1rem;
}
html body header nav .contenedor .tittle {
  display: inline-block;
  margin-left: 1.5rem;
  font-size: 2.6rem;
}
html body header nav .contenedor .navegacion {
  font-size: 2.5rem;
  margin-left: 97%;
  margin-top: 1.2rem;
  display: flex;
}
html body header nav .contenedor .navegacion li {
  list-style: none;
  padding: 1rem;
  margin-left: auto;
  display: inline-block;
}
html body header nav .contenedor .navegacion li a {
  text-decoration: none;
  padding: 1rem;
  color: #262626;
}
html body header nav .contenedor .navegacion li a:hover {
  background: #262626;
  color: white;
}

footer {
  color: white;
  display: inline-block;
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
footer .links {
  display: inline-block;
  text-decoration: none;
}
footer .links .link-footer {
  color: white;
  text-decoration: none;
  margin-right: 1rem;
}
footer .links .link-footer:hover {
  color: #F2BB16;
}
footer .derechos {
  display: inline-block;
  color: white;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: flex;
  color: white;
}

.text {
  margin-left: 9rem;
  font-size: 7rem;
  margin-bottom: 2.5rem;
  margin-top: 5rem;
  color: #F2BB16;
}

.slogan {
  font-family: "Poppins", sans-serif;
  font-weight: 300px;
  text-align: justify;
  margin-left: 9rem;
  margin-bottom: 5rem;
  font-size: 2rem;
  color: #F2BB16;
}

.adentro {
  color: white;
  text-decoration: none;
}
.adentro .boton {
  width: 5rem;
  background-color: #262626;
  display: inline;
  padding: 18px 88px;
  border-radius: 5rem;
  margin-left: 9rem;
  border: 0.5px solid white;
}
.adentro .boton:hover {
  background-color: #F2BB16;
}

.slide {
  margin-right: 10rem;
  border: 4px solid #F2BB16;
  margin-top: 3rem;
}

.carousel-item {
  width: 40rem;
  height: 50rem;
}

.slide img {
  width: 100%;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas: "nav nav nav" "contenido contenido carousel" "footer footer footer";
  grid-row-gap: 1rem;
}

.grid-header {
  grid-area: nav;
}

.grid-main {
  grid-area: contenido;
}

.grid-carousel {
  grid-area: carousel;
}

.grid-footer {
  grid-area: footer;
}

.titulo {
  text-align: center;
  font-size: 6rem;
  margin-top: 10rem;
  color: #F2BB16;
}

.slogan2 {
  text-align: center;
  font-size: 2rem;
  margin-top: 5rem;
  color: #F2BB16;
}

.abarcacion {
  align-items: center;
  margin-left: 10rem;
}
.abarcacion .subtitulo {
  justify-content: center;
  font-size: 3.5rem;
  margin-top: 4rem;
  color: #F2BB16;
}
.abarcacion .secciones {
  display: inline-block;
  justify-content: center;
  margin-right: 5rem;
  margin-top: 5rem;
}
.abarcacion .secciones .sub {
  color: #F2BB16;
}
.abarcacion .secciones .demostrativa {
  width: 300px;
  height: 280px;
  border-radius: 1rem;
}
.abarcacion .secciones .info {
  color: white;
  text-align: justify;
  font-size: 1.5rem;
  margin-top: 1rem;
  width: 300px;
  display: flex;
}

h3 {
  margin-top: 1rem;
}

.grid-content {
  display: grid;
  grid-template-areas: "nav nav nav" "que que que" "mucho mucho mucho" "footer footer footer";
}

.grid-header {
  grid-area: nav;
}

.grid-que {
  grid-area: que;
}

.grid-mucho {
  grid-area: mucho;
}

.grid-footer {
  grid-area: footer;
}

.zona {
  font-size: 6rem;
  margin-left: 26rem;
  margin-top: 5.3rem;
  color: #F2BB16;
}

.txt {
  margin-left: 8rem;
  text-align: justify;
  margin-top: 3rem;
}
.txt .texto {
  font-size: 2.5rem;
  color: #F2BB16;
}

.imgcostado {
  width: 600px;
  height: 850px;
  margin-left: 4rem;
  margin-top: 5rem;
}

.sede {
  font-size: 5rem;
  margin-left: 13.8rem;
  color: #F2BB16;
  display: inline;
}

.city {
  font-size: 2.5rem;
  margin-left: 18rem;
  color: #F2BB16;
  display: flex;
}

.contenido {
  display: flex;
  margin: 2rem;
  margin-left: 15rem;
  align-items: center;
}
.contenido .imgs {
  height: 45px;
  width: 45px;
  padding: 5px;
}
.contenido .mini {
  margin-left: 1.5rem;
  font-size: 1.5rem;
  color: #F2BB16;
}

.map {
  margin-right: 8rem;
  width: 600px;
  height: 450px;
}

.grid-contenedor {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 100rem;
  grid-template-areas: "nav nav nav" "tienda tienda imagen" "importante importante mapeado" "footer footer footer";
  grid-row-gap: 1rem;
}

.grid-header {
  grid-area: nav;
}

.grid-seccion {
  grid-area: tienda;
}

.grid-image {
  grid-area: imagen;
}

.grid-informacion {
  grid-area: importante;
}

.grid-localizacion {
  grid-area: mapeado;
}

.grid-footer {
  grid-area: footer;
}

.tit {
  font-size: 7rem;
  margin-left: 9rem;
  margin-bottom: 4rem;
  margin-top: 5rem;
  color: #F2BB16;
}

.parrafo {
  font-size: 2rem;
  margin-left: 9rem;
  margin-bottom: 6rem;
  width: 550px;
  color: #F2BB16;
}

a {
  text-decoration: none;
}
a b {
  color: white;
  font-size: 1.5rem;
}

.click {
  width: 5rem;
  background-color: #262626;
  display: inline;
  padding: 18px 88px;
  border-radius: 1rem;
  margin-left: 9rem;
  border: 0.5px solid white;
}

.click:hover {
  background: #F2BB16;
  color: #262626;
}

.imagen-marcas {
  width: 600px;
  height: 400px;
  margin-top: 7rem;
  border: 5px solid #F2BB16;
  margin-right: 6rem;
}

.abajo {
  font-size: 2rem;
  color: #F2BB16;
  text-align: center;
  margin-top: 10rem;
}

.slider {
  width: 1550px;
  height: auto;
  margin: auto;
  overflow: hidden;
}
.slider .slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: 4200px;
}
.slider .slide {
  width: 350px;
  border: none;
}
.slider .slide .img {
  width: 100%;
}

@keyframes scroll {
  0% {
    -webkit-animation: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-animation: translateX(-2100px);
    transform: translateX(-2100px);
  }
}
.recomendaciones {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 4rem;
  color: #F2BB16;
}

.grid-marcas {
  display: grid;
  grid-template-columns: 1, 1fr;
  grid-template-rows: auto;
  grid-template-areas: "nav nav nav" "principal principlal marco" "movimiento movimiento movimiento" "footer footer footer";
  grid-row-gap: 1rem;
}

.grid-header {
  grid-area: nav;
}

.grid-mainn {
  grid-area: principal;
}

.grid-mosaico {
  grid-area: marco;
}

.grid-muestra {
  grid-area: movimiento;
}

.grid-footer {
  grid-area: footer;
}

.preg {
  font-size: 2rem;
  display: inline-block;
  color: #F2BB16;
  margin-left: 3rem;
  margin-top: 3rem;
  width: 1000px;
  text-align: justify;
}

.contactanos {
  color: #F2BB16;
  font-size: 3.5rem;
  display: inline-block;
  margin-left: 25rem;
}

.mensaje {
  display: inline;
  text-align: center;
}
.mensaje .mensaje-titulo {
  color: white;
  font-size: 4rem;
}
.mensaje .parrafo-abajo {
  color: white;
  font-size: 2.5rem;
}

.labels {
  text-align: center;
}
.labels .inpiut {
  width: 200px;
  height: 40px;
}
.labels .texta {
  width: 400px;
  height: 120px;
}
.labels .enviar {
  width: 150px;
  height: 40px;
}

.grid-space {
  display: grid;
  grid-template-columns: 1, 1fr;
  grid-template-rows: auto 20rem auto auto;
  grid-template-areas: "nav nav nav" "info info info" "mensaje mensaje mensaje" "relleno relleno relleno" "cuadro cuadro cuadro" "enviar enviar enviar" "footer footer footer";
  grid-row-gap: 1rem;
}

.grid-header {
  grid-area: nav;
}

.grid-texto {
  grid-area: info;
}

.grid-inputs {
  grid-area: relleno;
}

.grid-mensaj {
  grid-area: mensaje;
}

.grid-clave {
  grid-area: cuadro;
}

.grid-boton {
  grid-area: enviar;
}

.grid-footer {
  grid-area: footer;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 6.7rem auto auto 35rem;
    grid-template-areas: "nav nav nav" "contenido contenido contenido" "carousel carousel carousel" "footer footer footer";
    grid-row-gap: 1rem;
    width: auto;
    max-width: 767px;
  }
  .tittle {
    font-size: 1.2rem;
    margin-bottom: 8rem;
    margin-left: 0;
  }
  .logo {
    width: 50px;
    height: 50px;
    margin-bottom: 8rem;
  }
  .navegacion {
    font-size: 0.2rem;
    margin-left: 0;
  }
  .navbar {
    margin-bottom: 8rem;
    margin-left: 12rem;
  }
  .navbar-nav {
    background-color: #F2BB16;
  }
  .nav-item {
    font-size: 2rem;
    justify-content: left;
  }
  .nav-item :hover {
    background-color: white;
  }
  footer {
    display: inline-block;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .links {
    display: inline-block;
  }
  .derechos {
    font-size: 1rem;
    display: inline-block;
  }
  .logoslink {
    width: 12px;
    height: 12px;
    display: inline-block;
  }
  /* pagina celular */
  .text {
    font-size: 3rem;
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .slogan {
    font-size: 1.5rem;
    margin-left: 3rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
  }
  .adentro .boton {
    padding: 10px 55px;
    border: 0.1px solid white;
    margin-left: 3rem;
  }
  .leer {
    font-size: 1.2rem;
  }
  h4 {
    font-size: 1rem;
    display: flex;
    margin: 0;
    margin-right: 4rem;
  }
  .slide {
    width: 35rem;
    height: 30rem;
    margin-left: 3rem;
    margin-top: 5rem;
    align-items: center;
  }
  .slide img {
    width: 100%;
    height: 293px;
  }
  /* pagina servicios */
  .grid-header {
    display: grid;
    grid-template-rows: 6.7rem;
    grid-template-areas: "nav nav nav";
  }
  .titulo {
    font-size: 2.3rem;
    margin-left: 0;
    margin-right: 1rem;
    margin-top: 5rem;
  }
  .slogan2 {
    font-size: 1.1rem;
    margin-left: 0;
    margin-right: 1rem;
    margin-top: 2rem;
  }
  .subtitulo {
    font-size: 1.9rem;
    margin-left: 1rem;
    margin-top: 8rem;
  }
  .abarcacion {
    margin-left: 0;
    margin-bottom: 3rem;
  }
  .secciones {
    align-items: center;
    margin-left: 1rem;
  }
  .demostrativa {
    width: 120px;
    height: 100px;
    margin-left: 1rem;
  }
  .h3 {
    margin-left: 3rem;
  }
  .grid-pie {
    margin-top: 3rem;
    margin-left: 0;
  }
  /* nosotros */
  .zona {
    font-size: 3rem;
    margin-left: 2rem;
    margin-top: 3rem;
  }
  .texto {
    font-size: 1rem;
    margin-left: 0;
  }
  .txt {
    margin-left: 1rem;
    display: flex;
  }
  .imgcostado {
    width: 200px;
    height: 220px;
    margin-top: 0;
  }
  .grid-contenedor {
    display: grid;
    grid-template-columns: 3, auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "nav nav nav" "tienda tienda tienda" "imagen imagen imagen" "importante importante mapeado" "footer footer footer";
    grid-row-gap: 1rem;
  }
  .sede {
    font-size: 3rem;
    margin-left: 5rem;
  }
  .city {
    font-size: 2rem;
    margin-left: 5.3rem;
  }
  .contenido {
    margin-left: 0.5rem;
  }
  .map {
    width: 50px;
    height: 50px;
  }
  /* marcas */
  .tit {
    font-size: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .parrafo {
    font-size: 1rem;
    margin-left: 2rem;
    margin-bottom: 3rem;
    width: 300px;
  }
  .abajo {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 1rem;
  }
  .recomendaciones {
    font-size: 1.2rem;
    margin-right: 1rem;
  }
  .imagen-marcas {
    width: 200px;
    height: 150px;
    margin-left: 3.5rem;
  }
  .click {
    padding: 8px 25px;
    margin-left: 2rem;
  }
  b {
    font-size: 1rem;
  }
  .grid-marcas {
    display: grid;
    grid-template-columns: 1, 1fr;
    grid-template-rows: auto;
    grid-template-areas: "nav nav nav" "principal principal principal" "marco marco marco" "movimiento movimiento movimiento" "footer footer footer";
    grid-row-gap: 1rem;
  }
  /* contacto */
  .contactanos {
    font-size: 2rem;
    margin-left: 28rem;
  }
  .preg {
    font-size: 1.5rem;
    width: 300px;
    margin-left: 0.5rem;
  }
  .mensaje-titulo {
    margin-top: 3rem;
    font-size: 2.5rem;
    margin-left: 0;
  }
  .parrafo-abajo {
    font-size: 1.5rem;
    margin-left: 0;
  }
  .inpiut {
    width: 100px;
    height: 20px;
  }
  .texta {
    width: 120px;
    height: 60px;
  }
  .enviar {
    width: 70px;
    height: 20px;
  }
}
/* querie tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .grid-container {
    display: grid;
    grid-template-columns: 90rem auto auto auto;
    grid-template-rows: 7.1rem auto auto 35rem;
    grid-template-areas: "nav nav nav" "contenido contenido contenido" "carousel carousel carousel" "footer footer footer";
    grid-row-gap: 1rem;
    width: auto;
    max-width: 1023px;
  }
  .logo {
    width: 80px;
    height: 80px;
    margin-bottom: 8rem;
  }
  .tittle {
    font-size: 2.9rem;
    margin-bottom: 8rem;
    margin-left: 0;
  }
  .navegacion {
    font-size: 1rem;
    margin-left: 0;
  }
  .navbar {
    width: 100px;
    display: flex;
  }
  .nav-item {
    font-size: 2rem;
  }
  .navbar-nav {
    display: flex;
    background-color: #F2BB16;
  }
  footer {
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30rem;
  }
  .linklogos {
    width: 20px;
    height: 20px;
  }
  .links {
    display: inline-block;
    margin-right: 1rem;
  }
  .derechos {
    font-size: 2.3rem;
    display: inline-block;
  }
  /* pagina inicio */
  .text {
    font-size: 4.5rem;
    margin-left: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .slogan {
    font-size: 2.3rem;
    margin-left: 5rem;
    margin-bottom: 4rem;
    margin-top: 2rem;
  }
  .boton {
    padding: 23px 110px;
    border: 0.1px solid white;
    margin-left: 5rem;
  }
  .leer {
    font-size: 2.1rem;
  }
  h4 {
    font-size: 2.3rem;
    display: flex;
    margin: 0;
    margin-right: 4rem;
  }
  .slide {
    width: 70rem;
    height: 50rem;
    margin-top: 7rem;
    margin-left: 4rem;
  }
  .slide img {
    width: 900px;
    height: 492px;
  }
  /* pagina servicios */
  .titulo {
    font-size: 4rem;
    margin-left: 0;
  }
  .slogan2 {
    font-size: 2.5rem;
  }
  .secciones {
    margin-left: 2.5rem;
  }
  .abarcacion {
    display: inline;
    margin-right: 0;
  }
  .grid-content {
    display: grid;
    grid-template-rows: 7rem auto;
    grid-template-areas: "nav nav nav" "que que que" "mucho mucho mucho" "footer footer footer";
  }
  /* pagina nosotros */
  .zona {
    margin-left: 8rem;
  }
  .txt {
    margin-left: 3rem;
  }
  .texto {
    font-size: 2rem;
  }
  .imgcostado {
    width: 400px;
    height: 550px;
    margin-top: 1rem;
  }
  .grid-contenedor {
    display: grid;
    grid-template-columns: 3, auto;
    grid-template-rows: 7rem auto auto auto auto;
    grid-template-areas: "nav nav nav" "tienda tienda tienda" "imagen imagen imagen" "importante importante mapeado" "footer footer footer";
    grid-row-gap: 1rem;
  }
  .sede {
    font-size: 5rem;
    margin-left: 6rem;
  }
  .city {
    font-size: 4rem;
    margin-left: 3.7rem;
  }
  .contenido {
    margin-left: 3rem;
  }
  .mini {
    font-size: 2rem;
  }
  .navbar {
    margin-left: 30rem;
    margin-bottom: 7rem;
  }
  /* pagina marcas */
  .tit {
    font-size: 5rem;
    margin-left: 2rem;
  }
  .parrafo {
    font-size: 2rem;
    margin-left: 2rem;
    width: 450px;
  }
  .click {
    margin-left: 2rem;
  }
  .imagen-marcas {
    width: 300px;
    height: 200px;
    margin-right: 2rem;
  }
  .grid-marcas {
    display: grid;
    grid-template-columns: 1, 1fr;
    grid-template-rows: 7rem auto;
    grid-template-areas: "nav nav nav" "principal principlal marco" "movimiento movimiento movimiento" "footer footer footer";
    grid-row-gap: 1rem;
  }
  /* pagina contacto */
  .contactanos {
    font-size: 3rem;
    margin-left: 50rem;
  }
  .preg {
    font-size: 2.5rem;
    width: 550px;
    margin-left: 0.5rem;
  }
  .mensaje-titulo {
    margin-top: 3rem;
    font-size: 5rem;
    margin-left: 0;
  }
  .parrafo-abajo {
    font-size: 2.5rem;
    margin-left: 0;
  }
  .inpiut {
    width: 200px;
    height: 50px;
  }
  .texta {
    width: 400px;
    height: 100px;
  }
  .enviar {
    width: 150px;
    height: 50px;
  }
  .grid-space {
    display: grid;
    grid-template-columns: 1, 1fr;
    grid-template-rows: 7rem 20rem auto auto;
    grid-template-areas: "nav nav nav" "info info info" "mensaje mensaje mensaje" "relleno relleno relleno" "cuadro cuadro cuadro" "enviar enviar enviar" "footer footer footer";
    grid-row-gap: 1rem;
  }
}
/* desktop */
@media screen and (min-width: 1024px) and (max-width: 1340px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 8rem auto auto auto;
    grid-template-areas: "nav nav nav" "contenido contenido carousel" "footer footer footer";
    grid-row-gap: 1rem;
    width: auto;
    max-width: 1980px;
  }
  .logo {
    width: 60px;
    height: 60px;
    margin-bottom: 8rem;
  }
  .tittle {
    font-size: 2.3rem;
    margin-bottom: 8rem;
    margin-left: 0;
  }
  .navegacion {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 7.8rem;
    margin-left: 2rem;
  }
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 1rem;
    margin-top: 20rem;
    margin-right: 6rem;
  }
  .logoslink {
    width: 18px;
    height: 18px;
  }
  .links {
    display: inline-block;
    margin-right: 1rem;
  }
  .derechos {
    font-size: 2rem;
    display: inline-block;
    margin: 0;
    margin-left: 2rem;
  }
  /* pagina inicio */
  .text {
    font-size: 4rem;
    margin-left: 4rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .slogan {
    font-size: 2.3rem;
    margin-left: 4rem;
    margin-bottom: 4rem;
    margin-top: 2rem;
  }
  .boton {
    padding: 18px 100px;
    border: 0.1px solid white;
    margin-left: 4rem;
  }
  .leer {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 2rem;
    display: flex;
    margin: 0;
    margin-right: 4rem;
  }
  .slide {
    width: 35rem;
    height: 40rem;
    margin-right: 8rem;
  }
  .slide img {
    width: 100%;
    height: 393px;
  }
  /* pagina servicios */
  .titulo {
    font-size: 6rem;
    margin-left: 0;
  }
  .slogan2 {
    font-size: 3rem;
  }
  .subtitulo {
    margin-left: 7rem;
  }
  .secciones {
    justify-content: center;
    align-items: center;
    margin-left: 13rem;
  }
  .info {
    font-size: 2rem;
  }
  .sub {
    font-size: 2rem;
  }
  .abarcacion {
    display: inline;
    margin-right: 0;
  }
  .grid-content {
    display: grid;
    grid-template-rows: 8rem auto;
    grid-template-areas: "nav nav nav" "que que que" "mucho mucho mucho" "footer footer footer";
  }
  /* pagina nosotros */
  .zona {
    font-size: 5rem;
    margin-left: 15rem;
    display: inline-block;
    margin-top: 4rem;
  }
  .txt {
    margin-left: 2rem;
  }
  .texto {
    font-size: 2rem;
    margin-bottom: 8rem;
  }
  .imgcostado {
    width: 500px;
    height: 750px;
    margin-left: 0;
    margin-top: 12rem;
  }
  .grid-contenedor {
    display: grid;
    grid-template-columns: repeat(2, 600px);
    grid-template-rows: 8rem auto auto auto auto;
    grid-template-areas: "nav nav nav" "tienda imagen imagen" "importante mapeado mapeado" "footer footer footer";
    grid-row-gap: 1rem;
  }
  iframe {
    margin-right: 0;
    width: 400px;
    height: 400px;
  }
  /* pagina marcas */
  .tit {
    font-size: 9rem;
    margin-left: 8rem;
  }
  .parrafo {
    font-size: 2.5rem;
    margin-left: 8rem;
    width: 670px;
  }
  .click {
    margin-left: 8rem;
  }
  .imagen-marcas {
    width: 500px;
    height: 400px;
    margin-right: 20rem;
  }
  .click {
    width: 5rem;
    background-color: #262626;
    display: inline;
    padding: 20px 88px;
    border-radius: 1rem;
    margin-left: 9rem;
    border: 0.5px solid white;
  }
  .grid-marcas {
    display: grid;
    grid-template-columns: 1, 1fr;
    grid-template-rows: 10rem auto;
    grid-template-areas: "nav nav nav" "principal principlal marco" "movimiento movimiento movimiento" "footer footer footer";
    grid-row-gap: 1rem;
  }
  /* pagina contacto */
  .contactanos {
    font-size: 5rem;
    margin-left: 70rem;
    margin-top: 0;
  }
  .preg {
    font-size: 2.5rem;
    width: 600px;
    margin-left: 3rem;
  }
  .mensaje-titulo {
    margin-top: 3rem;
    font-size: 7rem;
    margin-left: 0;
  }
  .parrafo-abajo {
    font-size: 3rem;
    margin-left: 0;
  }
  .inpiut {
    width: 200px;
    height: 50px;
  }
  .texta {
    width: 400px;
    height: 100px;
  }
  .enviar {
    width: 150px;
    height: 50px;
  }
  .grid-space {
    display: grid;
    grid-template-columns: 1, 1fr;
    grid-template-rows: 8rem 20rem auto auto;
    grid-template-areas: "nav nav nav" "info info info" "mensaje mensaje mensaje" "relleno relleno relleno" "cuadro cuadro cuadro" "enviar enviar enviar" "footer footer footer";
    grid-row-gap: 1rem;
  }
}/*# sourceMappingURL=styles.css.map */