html {
    font-size: 62.5%;
    body {
        background-image: url(https://c.wallhere.com/photos/e8/eb/pattern_wood-156690.jpg!d);
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        header {
            padding-bottom: 0.2rem;
            background-color: #F2BB16;
            nav {
                .contenedor {
                    display: flex;
                    align-items: center;
                    .logo {
                        height: 70px;
                        width: 70px; 
                        padding: 0.5rem;  
                        box-sizing: border-box;
                        margin-left: 1rem;
                    }
                    .tittle {
                        display: inline-block;
                         margin-left: 1.5rem; 
                        font-size: 2.6rem;
                    }
                    .navegacion {
                        font-size: 2.5rem;  
                        margin-left: 15%;
                        margin-top: 1.2rem;
                        display: flex;
                        li {
                            list-style: none;
                            padding: 1rem;
                            margin-left: auto;
                            display: inline-block;
                            a {
                                text-decoration: none;
                                padding: 1rem;  
                                color: #575252;
                            }
                        }
                        li a:hover {
                            background: #262626;
                            color: white;
                        }
                    }   
                } 
            }
        }
    }
}

